<div class="col-md-12">
<h2><%= @user.name %> - <%= @user.location %></h2>

<div class="row">
<div class= "col-xs-12 col-sm-6 col-md-8">
<img src = <%= @user.image.sub("_normal", "") %> />
</div>
<div class= "col-xs-6 col-sm-6 col-md-4">
<pre>
    <p>Submissions: <span class="badge"><%= @user.fonts.count %></span>
    Street Cred: <span class="badge">110</span></p>
 </pre>
   <h3> Latest Submissions: </h3>
   <hr>
<% @user.fonts.each do |f| %>
<article>
<p><%= link_to(f.fontnames, font_path(f)) %></p>
<hr>
</article> 
<% end %>

