<div class="col-md-12">
<h2><%=link_to image_tag("arrow2.png"), :back %><%= @user.name %> - <%= @user.location %></h2>
<hr>
<div class="row">
<div class= "col-xs-12 col-sm-6 col-md-6">
<img class="round" src="<%= @user.image.sub("_normal", "") %>">
<br>
<br>
<p>Submissions: <span class="badge"><%= @user.fonts.count %></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Street Cred: <span class="badge">110</span></p>
</div>

<div class= "col-xs-6 col-sm-6 col-md-6">
   <h3> Latest Submissions: </h3>
   <hr>
<% @user.fonts.each do |f| %>
<article>
<p><%= link_to(f.fontnames, font_path(f)) %></p>
<hr>
</article> 
<% end %>

