<%= form_for (@font), :html => {:multipart => true} do |f| %>
  <% if @font.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@font.errors.count, "error") %> prohibited this font from being saved:</h2>

      <ul>
      <% @font.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
  <div class="field" >
    <%= f.label :fontnames %><br>
    <%= f.text_field :fontnames %>
  </div>
  <div class="input-large">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :html %><br>
    <%= f.text_field :html %>
  </div>
  <!-- <input type="text" class="form-control input-lg"> -->
   <div>
    <%= f.label :cssss %>
    <%= f.text_area :css %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
 </div> 
<% end %>
