<!DOCTYPE html>
<html>
<head>
  <title>Components</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<h1>
  <strong><%= @font.fontnames %></strong>
</h1>
<!-- <p id><%= notice %></p> -->
<p>
  <%= @font.description %>
</p>

<%= link_to "up", like_font_path(@font, type: "up"), method: "post" %> | <%= link_to "down", like_font_path(@font, type: "down"), method: "post" %>

<p>Submitted by~ <img src = <%= @font.user.image.sub("_normal", "_mini") %> /> <%= link_to @font.user.name, user_path(@font.user) %></p>
<br>

<%= pluralize @font.reputation_for(:likes).to_i, "like" %>

<!-- <pre><span class="badge">42 </span><i class="icon-heart icon-2x"></i> ~ 5 <i class="icon-thumbs-down icon-2x"></i></pre> -->

<p>
  <strong>HTML:</strong>
  <%= raw Pygments.highlight(@font.html) %>  
</p>

<p>
  <strong>CSS:</strong>
  <%= raw Pygments.highlight(@font.css) %>
</p>
<% if can? :update, @font %>
<%= link_to 'Edit', edit_font_path(@font) %> |
<% end %>
<% if can? :destroy, @font %>
<%= link_to 'Back', fonts_path %>
<% end %>
