<!DOCTYPE html>
<html>
<head>
  <title>Components</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<h1>
  <strong><%= @font.fontnames %></strong>&nbsp;&nbsp;<span class="badge"><b><%= @font.reputation_for(:likes).to_i %> props</span></b>  
</h1>
<hr>
<!-- <p id><%= notice %></p> -->
<p>
  <%= @font.description %>
</p>
<% if current_user.present? %>
<%= link_to "Vote Up", like_font_path(@font, type: "up"), method: "GET", :class => "btn btn-success" %>&nbsp;&nbsp;<%= link_to "Vote Down", like_font_path(@font, type: "down"), method: "GET", :class => "btn btn-danger" %>
<% end %>&nbsp;&nbsp;
<% if can? :update, @font %>
<%= link_to 'Edit', edit_font_path(@font), :class => "btn btn-warning" %>
<% end %>

<br>
<br>
<p>Submitted by:&nbsp;<img class="smallround" src="<%= @font.user.image %>">&nbsp;&nbsp;<%= link_to @font.user.name, user_path(@font.user) %></p>
<br>

  <h2>HTML:</h2>
  <%= raw Pygments.highlight(@font.html) %>  

  <h2>CSS:</h2>
  <%= raw Pygments.highlight(@font.css) %>


