<!DOCTYPE html>
<html>
<head>
  <title>Components</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>


<p id><%= notice %></p>
<h1>
  <strong><%= @font.fontnames %></strong>
</h1>
<p>
  <%= @font.description %>
</p>
<pre><span class="badge">42 </span><i class="icon-heart icon-2x"></i> ~ 5 <i class="icon-thumbs-down icon-2x"></i></pre>

<p>
  <strong>HTML:</strong>
  <%= raw Pygments.highlight(@font.html) %>  
</p>

<p>
  <strong>CSS:</strong>
  <%= raw Pygments.highlight(@font.css) %>
</p>

<%= link_to 'Edit', edit_font_path(@font) %> |
<%= link_to 'Back', fonts_path %>
