<!DOCTYPE html>
<html>
<head>
  <title>Components</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<h3>
  <%=link_to image_tag("redarrow.png"), :back %>
  <%= @font.fontnames %>
</h3>
<hr>
<!-- <p id><%= notice %></p> -->
<br>
  <p><%= @font.description %></p>
<br>
<%= image_tag @font.image.url %>

<br>
<br>
<% if current_user.present? %>
<%= link_to "Vote Up", like_font_path(@font, type: "up"), method: "GET", :class => "btn btn-success" %>&nbsp;&nbsp;<%= link_to "Vote Down", like_font_path(@font, type: "down"), method: "GET", :class => "btn btn-danger" %>
<% end %>&nbsp;&nbsp;
<% if can? :update, @font %>
<%= link_to 'Edit', edit_font_path(@font), :class => "btn btn-warning btn-important pull-right" %>
<% end %>

<br>
<br>
<p>Submitted by:&nbsp;<img class="smallround" src="<%= @font.user.image %>">&nbsp;&nbsp;<%= link_to @font.user.name, user_path(@font.user) %></p>
<br>

  <h2>HTML<%= image_tag("arrow1.png") %></h2>
  <%= raw Pygments.highlight(@font.html) %>  
<br>
  <h2>CSS<%= image_tag("arrow1.png") %></h2>
  <%= raw Pygments.highlight(@font.css) %>

<%= link_to '<i class="icon-ok icon-white"></i> Do it'.html_safe, user_path(@user) %>

