<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><a href="#"><i class="icon-code"></i>COMPONENTS</a></li>
    <li><a href="#">Fonts</a></li>
    <li><a href="#">Foundation</a></li>
    <li><a href="#">Bootstrap</a></li>
    <li><a href="#">Javascripts</a></li>
    <li><a href="#">Submit</a></li>          
    <li><a href="#">About</a></li>
    <br> 
    <% if current_user.present? %>
    <br>
    <li><i class="icon-twitter"></i><%= link_to "Sign Out", signout_path %>
  <li><img src= <%=current_user.image %>  />    <i class="icon-user"></i></li>
  <li><%= link_to("View Profile", user_path(current_user)) %></li>
  <li><%= current_user.location %></li> 
  <% else %>
  <br>
  <li><i class="icon-twitter"></i><%= link_to "Sign In", "/auth/twitter" %></li>
  <% end %>  
  </ul>  
</div>
<a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
      
        <!-- All page content musr remain within the page-content inset div! -->
        <div class="page-content inset">      