<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><%= link_to "FONTRIOT", root_path %></li>
    <li><a href="#"><%= link_to "Font Index", fonts_path %></a></li>
    <li><%= link_to "Users", users_path %></li>
    <li><a href="#">Resources</a></li>
    <li><a href="#">About</a></li>          
    <li><a href="#">Contact</a></li>
    <br> 
    <% if current_user.present? %>
    <br>
    <li><i class="icon-twitter"></i><%= link_to "Sign Out", signout_path %>
  <li><img class="smallround" src="<%= current_user.image %>">    <i class="icon-user"></i></li>
  <li><%= link_to("View Profile", user_path(current_user)) %></li>
  <li><%= current_user.location %></li>
  <br>
  <li><a href="#">Submit</a></li> 
  <% else %>
  <br>
  <li><i class="icon-twitter"></i><%= link_to "Sign In", "/auth/twitter" %></li>
  <% end %>  
  </ul>  
</div>
<a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
      
        <!-- All page content musr remain within the page-content inset div! -->
        <div class="page-content inset">      